# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
**bin/Pecube
**bin/Pecube324
**bin/Test
**bin/Vtk
**bin/PecubeMPI

# misc
.DS_Store
tmp/*

# test folders
NAZ2Y/*
CAN2Y/*
